html{
    padding-left: 75px;
    padding-right: 75px;
    background-image: url(./tripleblack.jpg);
    padding-top: 30px;
    padding-bottom: 30px;
    background-size: cover;
    background-blend-mode: multiply;
    background-color: white;    

}


h1 {
    margin-left: 18px;
    color: #86c5c5;
    background: linear-gradient(to top, black, grey);
    display: flex;
    padding: 2px 10px 5px 8px;
    border-radius: 10px;
    flex-direction: column;
    line-height: normal;
    }

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to right,rgb(173 113 0), rgb(22 19 201));
    color:black;
    height: 75px;
}

nav ul{
display: flex;
justify-content: space-evenly;
min-width: 400px;
list-style: none;
}

nav a {
    color: aqua;
    background: linear-gradient(to top, black, grey);
    border-radius: 10px;
    padding: 8px;
    font-size: 21px;
    font-family:'Times New Roman', Times, serif ;
    text-decoration: dashed;
} 