.background{
    padding: 30px 35px 75px 35px;
    background-image: url(./tripleblack.jpg);
    background-size: auto;
    background-blend-mode: multiply;
    background-color: white;   
}

.PFP{
    position: absolute;
    z-index: 1;
    height: 125px;
    top: 13px;
    left: 32px;
}

.nav-title{
    color: white;
}
 
.nav-list{
    background:linear-gradient(#ffffff42,#ffffff24);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1rem 0;
    border-radius: 10px;
}

.nav-item{
    list-style-type: none;
    margin-right: 2rem;
}

.nav-item a{
    text-decoration: none;
    color: white;
}

.nav-item:first-child{
    margin-right: auto;
    margin-left: 2rem;
    color:white;
    
}

.sidebar{
    padding:1000px 70px;
    margin: 45px 14px;
    float: left;
    display: flex;
    flex-direction: column;
    color: #a90404;
    background-color: lightblue;
}